<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.tech.mapper.TechTrialProcessMapper">
    
    <resultMap type="TechTrialProcess" id="TechTrialProcessResult">
        <result property="processId"        column="process_id"        />
        <result property="projectCode"      column="project_code"      />
        <result property="projectName"      column="project_name"      />
        <result property="moldCode"         column="mold_code"         />
        <result property="initiator"        column="initiator"         />
        <result property="description"      column="description"       />
        <result property="status"           column="status"            />
        <result property="step1Status"      column="step1_status"      />
        <result property="step2Status"      column="step2_status"      />
        <result property="step3Status"      column="step3_status"      />
        <result property="step4Status"      column="step4_status"      />
        <result property="step5Status"      column="step5_status"      />
        <result property="step6Status"      column="step6_status"      />
        <result property="step7Status"      column="step7_status"      />
        <result property="step8Status"      column="step8_status"      />
        <result property="step1Deadline"    column="step1_deadline"    />
        <result property="step2Deadline"    column="step2_deadline"    />
        <result property="step3Deadline"    column="step3_deadline"    />
        <result property="step4Deadline"    column="step4_deadline"    />
        <result property="step5Deadline"    column="step5_deadline"    />
        <result property="step6Deadline"    column="step6_deadline"    />
        <result property="step7Deadline"    column="step7_deadline"    />
        <result property="step8Deadline"    column="step8_deadline"    />
        <result property="step1Responsible" column="step1_responsible" />
        <result property="step2Responsible" column="step2_responsible" />
        <result property="step3Responsible" column="step3_responsible" />
        <result property="step4Responsible" column="step4_responsible" />
        <result property="step5Responsible" column="step5_responsible" />
        <result property="step6Responsible" column="step6_responsible" />
        <result property="step7Responsible" column="step7_responsible" />
        <result property="step8Responsible" column="step8_responsible" />
        <result property="step1Files"       column="step1_files"       />
        <result property="step2Files"       column="step2_files"       />
        <result property="step3Files"       column="step3_files"       />
        <result property="step4Files"       column="step4_files"       />
        <result property="step5Files"       column="step5_files"       />
        <result property="step6Files"       column="step6_files"       />
        <result property="step7Files"       column="step7_files"       />
        <result property="step8Files"       column="step8_files"       />
        <result property="step1Comments"    column="step1_comments"    />
        <result property="step2Comments"    column="step2_comments"    />
        <result property="step3Comments"    column="step3_comments"    />
        <result property="step4Comments"    column="step4_comments"    />
        <result property="step5Comments"    column="step5_comments"    />
        <result property="step6Comments"    column="step6_comments"    />
        <result property="step7Comments"    column="step7_comments"    />
        <result property="step8Comments"    column="step8_comments"    />
        <result property="delFlag"          column="del_flag"          />
        <result property="createBy"         column="create_by"         />
        <result property="createTime"       column="create_time"       />
        <result property="updateBy"         column="update_by"         />
        <result property="updateTime"       column="update_time"       />
        <result property="remark"           column="remark"            />
    </resultMap>

    <sql id="selectTechTrialProcessVo">
        select process_id, project_code, project_name, mold_code, initiator, description, status,
            step1_status, step2_status, step3_status, step4_status, step5_status, step6_status, step7_status, step8_status,
            step1_deadline, step2_deadline, step3_deadline, step4_deadline, step5_deadline, step6_deadline, step7_deadline, step8_deadline,
            step1_responsible, step2_responsible, step3_responsible, step4_responsible, step5_responsible, step6_responsible, step7_responsible, step8_responsible,
            step1_files, step2_files, step3_files, step4_files, step5_files, step6_files, step7_files, step8_files,
            step1_comments, step2_comments, step3_comments, step4_comments, step5_comments, step6_comments, step7_comments, step8_comments,
            del_flag, create_by, create_time, update_by, update_time, remark
        from tech_trial_process
    </sql>

    <!-- 检查用户是否有逾期任务：截止日期 <= 今天，且步骤状态不是done -->
    <select id="checkUserOverdue" parameterType="String" resultType="int">
        SELECT COUNT(*) FROM tech_trial_process WHERE del_flag = '0' AND (
            (step1_responsible = #{userName} AND step1_deadline IS NOT NULL AND step1_deadline &lt;= CURDATE() AND (step1_status IS NULL OR step1_status != 'done'))
            OR (step2_responsible = #{userName} AND step2_deadline IS NOT NULL AND step2_deadline &lt;= CURDATE() AND (step2_status IS NULL OR step2_status != 'done'))
            OR (step3_responsible = #{userName} AND step3_deadline IS NOT NULL AND step3_deadline &lt;= CURDATE() AND (step3_status IS NULL OR step3_status != 'done'))
            OR (step4_responsible = #{userName} AND step4_deadline IS NOT NULL AND step4_deadline &lt;= CURDATE() AND (step4_status IS NULL OR step4_status != 'done'))
            OR (step5_responsible = #{userName} AND step5_deadline IS NOT NULL AND step5_deadline &lt;= CURDATE() AND (step5_status IS NULL OR step5_status != 'done'))
            OR (step6_responsible = #{userName} AND step6_deadline IS NOT NULL AND step6_deadline &lt;= CURDATE() AND (step6_status IS NULL OR step6_status != 'done'))
            OR (step7_responsible = #{userName} AND step7_deadline IS NOT NULL AND step7_deadline &lt;= CURDATE() AND (step7_status IS NULL OR step7_status != 'done'))
            OR (step8_responsible = #{userName} AND step8_deadline IS NOT NULL AND step8_deadline &lt;= CURDATE() AND (step8_status IS NULL OR step8_status != 'done'))
        )
    </select>

    <select id="selectTechTrialProcessList" parameterType="TechTrialProcess" resultMap="TechTrialProcessResult">
        <include refid="selectTechTrialProcessVo"/>
        <where>
            del_flag = '0'
            <if test="projectCode != null and projectCode != ''"> and project_code like concat('%', #{projectCode}, '%')</if>
            <if test="projectName != null and projectName != ''"> and project_name like concat('%', #{projectName}, '%')</if>
            <if test="initiator != null and initiator != ''"> and initiator like concat('%', #{initiator}, '%')</if>
            <if test="status != null and status != ''"> and status = #{status}</if>
        </where>
        order by create_time desc
    </select>
    
    <select id="selectTechTrialProcessByProcessId" parameterType="Long" resultMap="TechTrialProcessResult">
        <include refid="selectTechTrialProcessVo"/>
        where process_id = #{processId} and del_flag = '0'
    </select>

    <select id="selectTechTrialProcessByMoldCode" parameterType="String" resultMap="TechTrialProcessResult">
        <include refid="selectTechTrialProcessVo"/>
        where mold_code = #{moldCode} and del_flag = '0'
        order by process_id desc
        limit 1
    </select>

    <insert id="insertTechTrialProcess" parameterType="TechTrialProcess" useGeneratedKeys="true" keyProperty="processId">
        insert into tech_trial_process
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectCode != null">project_code,</if>
            <if test="projectName != null">project_name,</if>
            <if test="moldCode != null">mold_code,</if>
            <if test="initiator != null">initiator,</if>
            <if test="description != null">description,</if>
            <if test="status != null">status,</if>
            <if test="step1Status != null">step1_status,</if>
            <if test="step2Status != null">step2_status,</if>
            <if test="step3Status != null">step3_status,</if>
            <if test="step4Status != null">step4_status,</if>
            <if test="step5Status != null">step5_status,</if>
            <if test="step6Status != null">step6_status,</if>
            <if test="step7Status != null">step7_status,</if>
            <if test="step8Status != null">step8_status,</if>
            <if test="step1Deadline != null">step1_deadline,</if>
            <if test="step2Deadline != null">step2_deadline,</if>
            <if test="step3Deadline != null">step3_deadline,</if>
            <if test="step4Deadline != null">step4_deadline,</if>
            <if test="step5Deadline != null">step5_deadline,</if>
            <if test="step6Deadline != null">step6_deadline,</if>
            <if test="step7Deadline != null">step7_deadline,</if>
            <if test="step8Deadline != null">step8_deadline,</if>
            <if test="step1Responsible != null">step1_responsible,</if>
            <if test="step2Responsible != null">step2_responsible,</if>
            <if test="step3Responsible != null">step3_responsible,</if>
            <if test="step4Responsible != null">step4_responsible,</if>
            <if test="step5Responsible != null">step5_responsible,</if>
            <if test="step6Responsible != null">step6_responsible,</if>
            <if test="step7Responsible != null">step7_responsible,</if>
            <if test="step8Responsible != null">step8_responsible,</if>
            <if test="step1Files != null">step1_files,</if>
            <if test="step2Files != null">step2_files,</if>
            <if test="step3Files != null">step3_files,</if>
            <if test="step4Files != null">step4_files,</if>
            <if test="step5Files != null">step5_files,</if>
            <if test="step6Files != null">step6_files,</if>
            <if test="step7Files != null">step7_files,</if>
            <if test="step8Files != null">step8_files,</if>
            <if test="step1Comments != null">step1_comments,</if>
            <if test="step2Comments != null">step2_comments,</if>
            <if test="step3Comments != null">step3_comments,</if>
            <if test="step4Comments != null">step4_comments,</if>
            <if test="step5Comments != null">step5_comments,</if>
            <if test="step6Comments != null">step6_comments,</if>
            <if test="step7Comments != null">step7_comments,</if>
            <if test="step8Comments != null">step8_comments,</if>
            <if test="createBy != null">create_by,</if>
            create_time,
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="projectCode != null">#{projectCode},</if>
            <if test="projectName != null">#{projectName},</if>
            <if test="moldCode != null">#{moldCode},</if>
            <if test="initiator != null">#{initiator},</if>
            <if test="description != null">#{description},</if>
            <if test="status != null">#{status},</if>
            <if test="step1Status != null">#{step1Status},</if>
            <if test="step2Status != null">#{step2Status},</if>
            <if test="step3Status != null">#{step3Status},</if>
            <if test="step4Status != null">#{step4Status},</if>
            <if test="step5Status != null">#{step5Status},</if>
            <if test="step6Status != null">#{step6Status},</if>
            <if test="step7Status != null">#{step7Status},</if>
            <if test="step8Status != null">#{step8Status},</if>
            <if test="step1Deadline != null">#{step1Deadline},</if>
            <if test="step2Deadline != null">#{step2Deadline},</if>
            <if test="step3Deadline != null">#{step3Deadline},</if>
            <if test="step4Deadline != null">#{step4Deadline},</if>
            <if test="step5Deadline != null">#{step5Deadline},</if>
            <if test="step6Deadline != null">#{step6Deadline},</if>
            <if test="step7Deadline != null">#{step7Deadline},</if>
            <if test="step8Deadline != null">#{step8Deadline},</if>
            <if test="step1Responsible != null">#{step1Responsible},</if>
            <if test="step2Responsible != null">#{step2Responsible},</if>
            <if test="step3Responsible != null">#{step3Responsible},</if>
            <if test="step4Responsible != null">#{step4Responsible},</if>
            <if test="step5Responsible != null">#{step5Responsible},</if>
            <if test="step6Responsible != null">#{step6Responsible},</if>
            <if test="step7Responsible != null">#{step7Responsible},</if>
            <if test="step8Responsible != null">#{step8Responsible},</if>
            <if test="step1Files != null">#{step1Files},</if>
            <if test="step2Files != null">#{step2Files},</if>
            <if test="step3Files != null">#{step3Files},</if>
            <if test="step4Files != null">#{step4Files},</if>
            <if test="step5Files != null">#{step5Files},</if>
            <if test="step6Files != null">#{step6Files},</if>
            <if test="step7Files != null">#{step7Files},</if>
            <if test="step8Files != null">#{step8Files},</if>
            <if test="step1Comments != null">#{step1Comments},</if>
            <if test="step2Comments != null">#{step2Comments},</if>
            <if test="step3Comments != null">#{step3Comments},</if>
            <if test="step4Comments != null">#{step4Comments},</if>
            <if test="step5Comments != null">#{step5Comments},</if>
            <if test="step6Comments != null">#{step6Comments},</if>
            <if test="step7Comments != null">#{step7Comments},</if>
            <if test="step8Comments != null">#{step8Comments},</if>
            <if test="createBy != null">#{createBy},</if>
            sysdate(),
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateTechTrialProcess" parameterType="TechTrialProcess">
        update tech_trial_process
        <trim prefix="SET" suffixOverrides=",">
            <if test="projectCode != null">project_code = #{projectCode},</if>
            <if test="projectName != null">project_name = #{projectName},</if>
            <if test="moldCode != null">mold_code = #{moldCode},</if>
            <if test="initiator != null">initiator = #{initiator},</if>
            <if test="description != null">description = #{description},</if>
            <if test="status != null">status = #{status},</if>
            <if test="step1Status != null">step1_status = #{step1Status},</if>
            <if test="step2Status != null">step2_status = #{step2Status},</if>
            <if test="step3Status != null">step3_status = #{step3Status},</if>
            <if test="step4Status != null">step4_status = #{step4Status},</if>
            <if test="step5Status != null">step5_status = #{step5Status},</if>
            <if test="step6Status != null">step6_status = #{step6Status},</if>
            <if test="step7Status != null">step7_status = #{step7Status},</if>
            <if test="step8Status != null">step8_status = #{step8Status},</if>
            <if test="step1Deadline != null">step1_deadline = #{step1Deadline},</if>
            <if test="step2Deadline != null">step2_deadline = #{step2Deadline},</if>
            <if test="step3Deadline != null">step3_deadline = #{step3Deadline},</if>
            <if test="step4Deadline != null">step4_deadline = #{step4Deadline},</if>
            <if test="step5Deadline != null">step5_deadline = #{step5Deadline},</if>
            <if test="step6Deadline != null">step6_deadline = #{step6Deadline},</if>
            <if test="step7Deadline != null">step7_deadline = #{step7Deadline},</if>
            <if test="step8Deadline != null">step8_deadline = #{step8Deadline},</if>
            <if test="step1Responsible != null">step1_responsible = #{step1Responsible},</if>
            <if test="step2Responsible != null">step2_responsible = #{step2Responsible},</if>
            <if test="step3Responsible != null">step3_responsible = #{step3Responsible},</if>
            <if test="step4Responsible != null">step4_responsible = #{step4Responsible},</if>
            <if test="step5Responsible != null">step5_responsible = #{step5Responsible},</if>
            <if test="step6Responsible != null">step6_responsible = #{step6Responsible},</if>
            <if test="step7Responsible != null">step7_responsible = #{step7Responsible},</if>
            <if test="step8Responsible != null">step8_responsible = #{step8Responsible},</if>
            <if test="step1Files != null">step1_files = #{step1Files},</if>
            <if test="step2Files != null">step2_files = #{step2Files},</if>
            <if test="step3Files != null">step3_files = #{step3Files},</if>
            <if test="step4Files != null">step4_files = #{step4Files},</if>
            <if test="step5Files != null">step5_files = #{step5Files},</if>
            <if test="step6Files != null">step6_files = #{step6Files},</if>
            <if test="step7Files != null">step7_files = #{step7Files},</if>
            <if test="step8Files != null">step8_files = #{step8Files},</if>
            <if test="step1Comments != null">step1_comments = #{step1Comments},</if>
            <if test="step2Comments != null">step2_comments = #{step2Comments},</if>
            <if test="step3Comments != null">step3_comments = #{step3Comments},</if>
            <if test="step4Comments != null">step4_comments = #{step4Comments},</if>
            <if test="step5Comments != null">step5_comments = #{step5Comments},</if>
            <if test="step6Comments != null">step6_comments = #{step6Comments},</if>
            <if test="step7Comments != null">step7_comments = #{step7Comments},</if>
            <if test="step8Comments != null">step8_comments = #{step8Comments},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            update_time = sysdate(),
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where process_id = #{processId}
    </update>

    <delete id="deleteTechTrialProcessByProcessId" parameterType="Long">
        update tech_trial_process set del_flag = '2' where process_id = #{processId}
    </delete>

    <delete id="deleteTechTrialProcessByProcessIds" parameterType="String">
        update tech_trial_process set del_flag = '2' where process_id in 
        <foreach item="processId" collection="array" open="(" separator="," close=")">
            #{processId}
        </foreach>
    </delete>
</mapper>
